<h3>Hi!</h3>

<p>This package shows how Webix can be used with NodeJS backend.</p>
<p>There are 3 major cases:

<ul>
<li>Loading data into data components (datatable)</li>
</ul>

<p>For data loading the server must provide a GET handler which returns a collection of JSON objects (a single JSON object in case of the form )</p>
<p>
For data saving, a common REST pattern is used. Rest handlers must return a valid JSON object with an optional ID value.</p>


<br><br><hr>
